body{
    background: linear-gradient(to right,rgb(77, 77, 77), rgb(178, 177, 179));
} 
 #cabecalho{
    text-align: center;
    background: linear-gradient(to right, rgb(178, 177, 179) , rgb(77, 77, 77));
    border-radius: 0px 50px 0px 50px ;
}
 #menuprincipal li{  
    list-style: none;
    display: inline-block;
    margin: 2%;
    padding: 5px;
    border-left: 2px black solid;
    border-top-left-radius: 10px;;
}
#menuprincipal li a{
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
#cabecalho h1{
    text-align: center;
}
#apresentacao{
    text-align: center;
}
#apresentacao li{
    width:15%;
    display: inline-block;
    text-decoration: none;
}
#apresentacao img{
    width:100%;
}
#corpo{
    display:grid;
    grid-template-columns:60% 25%;
   
}
#conteudo{
    margin-left:30%;
}
#conteudo p{
    text-align:justify;
}
#nossarede li{
    list-style: none;
    border: 1px solid rgb(102, 101, 101);
    border-radius:10px;
    margin:3px;
}
#nossarede img{
    width:15%;
    border: 0.5px solid rgb(133, 131, 131);
    border-radius:50%;
}
#rodape{
    text-align: center
}