body {}

.menu {}


/*Menu de navegação*/

nav#menu {
    display: block
}

nav#menu ul {
    list-style: none;
    position: absolute;
    top: 0px;
    left: 100px;
}

nav#menu li {
    display: inline-block;
    padding: 5px;
    margin: 2px;
}


/*Fim de Menu de navegação*/

.rodape {}


/*Corpo da pagina*/

.principal {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 70vh 10vh;
    margin: auto;
    /* grid-template-areas: "Area nova inserida";*/
}

.conteudo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
    background-color: blue;
}

.lateral {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
    background-color: red;
}

.recomendados {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
    background-color: green;
}

.contatos {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
    background-color: pink;
}