body {
    background:rgb(156, 156, 228);
}

.menu {}


/*Menu de navegação*/

nav#menu {
    background:rgb(156, 156, 228);
    display: flex;
    flex-wrap: column;
}

nav#menu ul {
    list-style: none;
    position: absolute;
    top: 0px;
    left: 100px;
}

nav#menu li {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 100px;
    cursor: pointer;
    font-size: 18px;
}

nav#menu a {
    text-decoration: none;
}

div.menu {
    width: 100%;
    height: 100px;
    background-color: #FFF;
    border-bottom: 1px black solid;
    /* background-image: -moz-linear-gradient(white, blue);
    background-image: -webkit-linear-gradient(white, blue);
    background-image: -o-linear-gradient(white, blue);
    background-image: -webkit-linear-gradient(white, blue);*/
}


/*Fim de Menu de navegação*/

.rodape {
    border-top: 1px black solid;
}


/*Corpo da pagina*/

.principal {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 70vh;
    margin: auto;
    ;
    /* grid-template-areas: "Area nova inserida";*/
}

.conteudo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
    background-color: #FFF;
    /* background-image: -moz-linear-gradient(white, blue);
    background-image: -webkit-linear-gradient(white, blue);
    background-image: -o-linear-gradient(white, blue);
    background-image: -webkit-linear-gradient(white, blue);*/
}

form.cadastro {
    border: 1px solid black;
    border-radius: 50px 0px 50px 0px;
    margin-left: 100px;
    background:lightgrey;
    width:600px;
}

form.cadastro p {
    margin-left: 15%;
}

.lateral {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
    background-color: #FFF;
    border-left: 1px black solid;
    /* background-image: -moz-linear-gradient(white, blue);
    background-image: -webkit-linear-gradient(white, blue);
    background-image: -o-linear-gradient(white, blue);
    background-image: -webkit-linear-gradient(white, blue);*/
}

.recomendados {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row: 2;
    background-color: #FFF;
    border-top: 1px black solid;
    height: 10vh;
    /* background-image: -moz-linear-gradient(white, blue);
    background-image: -webkit-linear-gradient(white, blue);
    background-image: -o-linear-gradient(white, blue);
    background-image: -webkit-linear-gradient(white, blue);*/
}


/*.contatos {
        grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
    background-color: #FFF;
    border-top: 1px black solid;
    border-left: 1px black solid;
     background-image: -moz-linear-gradient(white, blue);
    background-image: -webkit-linear-gradient(white, blue);
    background-image: -o-linear-gradient(white, blue);
    background-image: -webkit-linear-gradient(white, blue);
}*/


/*Configuarção paginas dos artigos*/

div.pagina {
    margin-left: 10%;
    margin-right: 20%;
}

div.pagina h1 {
    text-align: center;
}

div.pagina p {
    text-align: justify;
}

p {
    font-size: 12pt;
}

p.citacao {
    font-size: 10pt;
    margin-left: 20%;
}