body{
    background: rgb(146, 196, 211);
}
section{
    border: 1px solid black;
    box-shadow: 10px 10px 10px 10px rgba(40, 92, 189, 0.541);
    border-radius: 10px;
    margin: 10%;    
    padding:2%;
}
h1{
    text-align:center;
}
h4{
    color: red;
}
fieldset{
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom:5%;
}
#rodape p{
    text-align:center;
}
#exercicio p{
    text-align:center;
}