body{
    background:rgb(137, 161, 126);
}
h1, p{
    margin-left:5%;
}
fieldset{
    border-radius: 5px;
    margin:auto;
    width:50%;

}
fieldset h3{
text-align: center;
}
fieldset input{
    width:100px;
}
#rodape{
    text-align: center;
    margin:10px;
}
#rodape a{
    border:1px solid black;
    padding:3px;   
    border-radius: 10px;
    text-decoration: none;
}
#rodape :hover{
    background-color:red;
    color:white;
}
#botaocanvas{
    margin-left:25%;
    margin-bottom: 2%;
}
canvas{
    border:1px solid black;
    margin: auto 25% auto;
    width: 150;
    height: 150;
}